/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Abel|Amaranth|Anton|Arimo|Baloo+Bhai|Baloo+Bhaina|Baloo+Thambi|Cantarell|Convergence|Cuprum|Days+One|Droid+Sans|Fjalla+One|Hammersmith+One|Jaldi|Lato|Montserrat|Open+Sans|Oswald|Overpass|Oxygen|PT+Sans|Quicksand|Roboto|Roboto+Condensed|Source+Sans+Pro|Ubuntu');


/* properties of the page body */
body{
	background: rgba(0, 0, 0, 0.08);
	font-family: 'Convergence', sans-serif;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
}

/* properties of the subscribe card */
.subscribe {
	background: #FFF8F0;
	box-shadow: 0 0 26px 1px #fab7dc;
	padding:10px 50px 50px 50px;
	margin: 3.5em auto 0 auto;
	border-radius: 20px;
	text-align: center;
	width: 280px;
	min-height: 325px;
	height:auto;
	color: #445963;
	
}

/* Iamge:: Email Logo  */
.subscribe img{
	width: 160px;
	height: 108px;
}

/* Title Card subscribe  */
.subscribe h2 {
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 0;
	font-size:27px; 
}
/* Description of the "card subscribe" */
.subscribe p {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0;
	margin-top: 3px;
	font-size: 16px;
}

/* email input */
input[type=email]  {
	font-family: 'PT Sans', sans-serif;
	background-color: transparent;
	text-align: center;
	width: 100%;
	color: #445963;
	padding: 10px;
	border: none;
	outline: none;
	margin-bottom: 30px;
	margin-top: 18px;
	font-size: 15px;
	font-style: italic;
	border-bottom: 2px solid #fab7dc;
}

/* Button transmitter subscribe */
button {
	box-shadow: 0 0 26px 1px #fab7dc;
	padding: 12px 45px 12px 45px;
	transition: 0.3s linear;
	background: #fab7dc;
	border-radius: 20px;
	margin-top: 10px;
	border: none;
	outline: none;
	font-size: 1em;
	color: #FFFFFF;
	font-weight: bold;
}

button:hover{
   cursor: pointer;
	transform: translatey(-3px );
	box-shadow: 0 0 6px #fab7dc;
}
button:active{
	transform: translatey(3px );
	box-shadow: 0 0 0px #fab7dc;
}
