@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: rgba(0, 0, 0, 0.08); /* Sfondo leggero a base rosa */
    font: 100%/1.6 'Roboto', sans-serif;
    padding: 3rem 1rem;
}

.pricing-table-wrapper {
    max-width: 75rem;
    margin: 0 auto;
}

.pricing-table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    grid-gap: 2em;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.pricing-table__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF8F0; /* Lavender Blush */
    padding: 1.5em;
    border-radius: 1.5em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(.02, .01, .47, 1), transform 200ms cubic-bezier(.02, .01, .47, 1);
}

.pricing-table__item:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.16);
    transform: translate(0, -10px);
}

.pricing-table__img {
    margin: 1.5em auto 2em;
    width: 100%;
    max-width: 80%;
}

.pricing-table__title {
    margin: 0;
    font-size: 1.5em;
    color: #C71585; /* Rosa brillante per i titoli */
    text-transform: capitalize;
}

.pricing-table__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.pricing-table__price {
    color: #FF6EB4;
    font-size: 2.2em;
    margin: 0.5em auto;
    font-weight: bold;
}

.pricing-table__label {
    margin: 0;
    color: hsl(216, 3%, 63%);
    font-size: 1em;
}

.pricing-table__products {
    margin: 1.2em 0;
    padding: 0;
    list-style-type: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pricing-table__product {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: .5em;
}

.pricing-table__product::before {
    margin-right: 0.5em;
}

.pricing-table__product--included::before {
    content: '⭕';
    color: #FF69B4;
}

.pricing-table__product--excluded::before {
    content: '❌';
    color: black; /* Colore nero per le X */
}

.pricing-table__button {
    background: #FF6EB4 ; /* Rosa scuro per il pulsante */
    color: #fff;
    margin-top: auto;
    padding: 0.8em 1.5em;
    text-decoration: none;
    width: 100%;
    border-radius: 1.87em;
    text-align: center;
    transition: background .2s ease-in-out;
}

.pricing-table__button:hover {
    background-color: #AD1457; /* Rosa ancora più scuro al passaggio del mouse */
}
.social-icons {
    justify-content: center;
    gap: 15px;
    margin-top: 240px;
  }
  
  .social-icons a {
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #d75494;
  }
  
  .bounce-arrow i {
    color: pink;
  }
  
  #bounceArr {
    position: absolute;
    color: pink;
    bottom: 80px;
    cursor: pointer;
  }
  
  .hero {
    position: relative;
    height: 100vh;
    background-image: url("../../assets/PNG_Images/output-onlinepngtools.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding-top: 50px;
    background-size: cover;
  }
  
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
  
  .hero-content {
    position: relative;
    z-index: 2;
  }
  
  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    z-index: 10;
    height: 100px;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
  }
  
  .navbar .logo img {
    height: 100px;
    width: auto;
    margin-top: 50px;
    margin-left: 50px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .navbar .nav-menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    margin-top: 50px;
    font-family: Josefin Sans;
    gap: 40px;
    color: #f29aa0;
  }
  
  .navbar .nav-menu li a {
    text-decoration: none;
    color: #d75494;
    font-size: 15px;
    transition: color 0.3s ease;
    margin-right: 20px;
    line-height: 100px;
  }
  
  .navbar .nav-menu li a:hover {
    color: #f29aa0;
  }
  
  .social-icons {
    position: absolute;
    right: 60px;
    bottom: 45%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    z-index: 10;
  }
  
  .social-icons a {
    color: #d75494;
    font-size: 30px;
    margin: 15px 0;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #f29aa0;
  }
  
  .hero-text {
    position: absolute;
    left: 50px;
    bottom: 50%;
    text-align: left;
    z-index: 10;
  }
  
  .hero-text h1 {
    font-size: 60px;
    color: #f29aa0;
    margin: 0;
  }
  
  .hero-text p {
    font-size: 18px;
    margin-top: 5px;
  }
  
  .bounce-arrow {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    animation: bounce 2s infinite;
    z-index: 10;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0) translateX(-50%);
    }
    50% {
      transform: translateY(-20px) translateX(-50%);
    }
  }
  
  .hero-text span {
    display: inline-block;
    transition: all 0.3s ease;
    
  }
  
  .hero-text span.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  #animated-text {
    color: white;
  }
  
  #animated-text span {
    display: inline-block;
    opacity: 0;
    transform: translateX(-100%);
    margin-right: 3px;
    margin-left: 2px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: .9rem;
  }
  
  
  
  .text-container span {
    display: inline-block;
    margin-right: 1px;
  }
  
  
  