body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  position: relative;
  width: 900px;
  height: 500px;
  margin-bottom: 250px;
}

.image-section {
  width: 600px;
  height: 400px;
  background: url("challenging-ab-workout-wallpaper-preview.jpg") no-repeat center center;
  background-size: cover;
  filter: blur(0.5px);
  position: absolute;
}

.text-section {
  position: absolute;
  top: 150px;
  width: 420px;
  background-color: #f3c7dc;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
  text-align: center;
}

.text-section.first {
  left: 450px;
}

.image-section.first {
  top: 0;
  left: 0;
}

.text-section.second {
  right: 450px;
}

.image-section.second {
  top: 0;
  right: 0;
}

.text-section h2 {
  font-size: 1.8rem;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

.text-section p {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
  font-weight: bold;
}

.button {
  display: flex;
  justify-content: center;
}

.button a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #fff7fb;
  color: #e892bb;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button a:hover {
  background-color: #ffffff;
}

.parallax-section {
  position: relative;
  height: 300px; /* Altezza ridotta per migliorare l'aspetto */
  background: url("paralla.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-separator {
  border: 1px solid #ccc;
  width: 75%;
}









.testimonials-wrapper {
  position: relative;
  max-width: 1000px;
  width: 900px;
  margin: 50px auto;
  overflow: hidden;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 400px;
}

.testimonial {
  min-width: 100%;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.testimonial.is-visible {
  opacity: 1;
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #d75494;
  margin-bottom: 20px;
}

.testimonial h3 {
  margin: 10px 0 5px;
  font-size: 24px;
}

.testimonial p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

.stars {
  color: #ffd700;
  margin-bottom: 10px;
}

.review-testimonial-text{
  font-size: 35pt;
  font-weight: bold;
  color: white;
}





.contact-section {
  background-color: #f4d6e4;
  padding: 80px 20px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group input {
  padding: 12px;
  border: 1px solid #d75494;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
}

.contact-button {
  padding: 12px 40px;
  background-color: transparent;
  border: 2px solid #9B6464;
  color: #9B6464;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 35%;
  margin: 0 auto;
}

.contact-button:hover {
  background-color: #e892bb;
  color: white;
}

.footer-details {
  margin-top: 30px;
  font-size: 14px;
  color: #7A5757;
}

.footer-details a {
  color: #9B6464;
  text-decoration: none;
}

.footer-details a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.social-icons a {
  text-decoration: none;
  color: #9B6464;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #d75494;
}

