/* Impostazioni di base */
* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #fff5f8, #ffe6f0);
  color: #333;
}

/* Sezione di login */
.login-section {
  width: 100%;
  max-width: 400px;
  background: #ff4d94;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-section h1 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin: 10px 0 5px;
  color: #fff;
  font-weight: 600;
  text-align: left;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form input[type="email"]::placeholder,
.login-form input[type="password"]::placeholder {
  color: #666;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #ff1a66;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e60050;
}

.login-section p {
  margin-top: 15px;
  color: #fff;
  font-size: 0.9rem;
}

.login-section a {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
}

.login-section a:hover {
  color: #ffe6f2;
}

/* Sezione Profilo */
.profile-page-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.profile-sidebar {
  width: 25%;
  background-color: #ffc2d1;
  padding: 70px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
  border: 4px solid #ff4d94;
}

.profile-sidebar h2 {
  color: #ff4d94;
  font-size: 2em;
  margin-bottom: 15px;
}

.profile-sidebar p {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 25px;
}

.edit-btn {
  font-family: "Josefin Sans";
  background-color: #ff4d94;
  color: #fff;
  border: 0;
  border-radius: 20px;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  width: 50%;
  margin: 10px 0 20px;
}

.edit-btn:hover {
  background-color: #ff1a66;
}

.profile-content {
  width: 75%;
  padding: 50px;
  max-width: 1600px;
  background-color: #fff0f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-content h1 {
  color: #ff4d94;
  font-size: 2.2em;
  margin-bottom: 30px;
}

.profile-content p {
  color: #333;
  font-size: 1.2em;
  margin: 15px 0;
}

.profile-content p strong {
  color: #ff4d94;
}




.accordion {
  width: 100%; /* Assicura che riempia l'intera larghezza disponibile */
  max-width: 600px;
  margin: 0; /* Rimuovi i margini laterali */
}

.accordion-item {
}

.accordion-header {
  padding: 15px;
  cursor: pointer;
  color: #ff4d94;
  
  font-weight: 700;
  text-transform: uppercase;
}
.accordion-toggle {
  font-size: 1.2rem;
}

.accordion-content {
  padding: 0 15px;
  color: #333;
  font-size: 0.9rem;
  line-height: 1.6;
}

.accordion-content ul {
  padding: 10px;
  list-style-type: circle;
  margin: 0;
}

.accordion-content li {
  margin-bottom: 5px;
}

.accordion-content {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 15px;
  color: #333;
  font-size: 0.9rem;
  line-height: 1.6;
}

.accordion-item.open .accordion-content {
  max-height: 500px; /* Imposta un'altezza massima sufficiente per mostrare il contenuto */
}
.accordion-content a {
  color: #ff4d94;
  text-decoration: none;
  font-weight: bold;
}

.accordion-content a:hover {
  text-decoration: underline;
}
